In [1]:
from uszipcode import SearchEngine
import pandas as pd

search = SearchEngine(simple_zipcode=False)

In [12]:
zipcode = search.by_zipcode('30024')

#### testing zipcode methods
```python
zipcode
zipcode.values()
zipcode.to_dict()
```

In [13]:
zips = zipcode.to_dict()

In [14]:
# understand zipcode.to_dict()
zips

{'zipcode_type': 'Standard',
 'major_city': 'Suwanee',
 'post_office_city': 'Suwanee, GA',
 'common_city_list': ['Suwanee', 'Johns Creek'],
 'county': 'Gwinnett County',
 'state': 'GA',
 'lat': 34.07,
 'lng': -84.1,
 'timezone': 'Eastern',
 'radius_in_miles': 6.0,
 'area_code_list': ['470', '678'],
 'population': 64614,
 'population_density': 1519.0,
 'land_area_in_sqmi': 42.55,
 'water_area_in_sqmi': 0.71,
 'housing_units': 21682,
 'occupied_housing_units': 20715,
 'median_home_value': 272400,
 'median_household_income': 99931,
 'bounds_west': -84.177139,
 'bounds_east': -84.010095,
 'bounds_north': 34.131744,
 'bounds_south': 33.998882,
 'zipcode': '30024',
 'polygon': [[[-84.171141, 34.075465],
   [-84.171182, 34.07537],
   [-84.17123, 34.075315],
   [-84.171295, 34.075236],
   [-84.171332, 34.075193],
   [-84.171372, 34.075147],
   [-84.171407, 34.075111],
   [-84.171447, 34.075074],
   [-84.171531, 34.075021],
   [-84.171618, 34.074987],
   [-84.17171, 34.074973],
   [-84.171804, 34.074974],
   [-84.171895, 34.074989],
   [-84.17207, 34.075007],
   [-84.173335, 34.075291],
   [-84.172003, 34.076417],
   [-84.171996, 34.076377],
   [-84.171982, 34.076313],
   [-84.171951, 34.076207],
   [-84.171932, 34.07616],
   [-84.171911, 34.076118],
   [-84.171865, 34.076039],
   [-84.171835, 34.076],
   [-84.171752, 34.075902],
   [-84.171696, 34.075842],
   [-84.171615, 34.075784],
   [-84.17157, 34.075755],
   [-84.171529, 34.075724],
   [-84.171428, 34.075653],
   [-84.17136, 34.075613],
   [-84.171312, 34.075585],
   [-84.171256, 34.075549],
   [-84.171208, 34.075513],
   [-84.171141, 34.075465]]],
 'population_by_year': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 59498},
    {'x': 2006, 'y': 56},
    {'x': 2007, 'y': 65401},
    {'x': 2008, 'y': 65119},
    {'x': 2009, 'y': 66923},
    {'x': 2010, 'y': 67958},
    {'x': 2011, 'y': 69760},
    {'x': 2012, 'y': 71610},
    {'x': 2013, 'y': 73710},
    {'x': 2014, 'y': 74350},
    {'x': 2015, 'y': 77050}]}],
 'population_by_age': [{'key': 'Male',
   'values': [{'x': 'Under 5', 'y': 2206},
    {'x': '5-9', 'y': 3263},
    {'x': '10-14', 'y': 3375},
    {'x': '15-19', 'y': 2402},
    {'x': '20-24', 'y': 1204},
    {'x': '25-29', 'y': 1146},
    {'x': '30-34', 'y': 1515},
    {'x': '35-39', 'y': 2645},
    {'x': '40-44', 'y': 3342},
    {'x': '45-49', 'y': 3366},
    {'x': '50-54', 'y': 2593},
    {'x': '55-59', 'y': 1702},
    {'x': '60-64', 'y': 1179},
    {'x': '65-69', 'y': 825},
    {'x': '70-74', 'y': 474},
    {'x': '75-79', 'y': 287},
    {'x': '80-84', 'y': 141},
    {'x': '85 Plus', 'y': 99}]},
  {'key': 'Female',
   'values': [{'x': 'Under 5', 'y': 2136},
    {'x': '5-9', 'y': 3171},
    {'x': '10-14', 'y': 3222},
    {'x': '15-19', 'y': 2376},
    {'x': '20-24', 'y': 1077},
    {'x': '25-29', 'y': 1337},
    {'x': '30-34', 'y': 1988},
    {'x': '35-39', 'y': 3080},
    {'x': '40-44', 'y': 3616},
    {'x': '45-49', 'y': 3410},
    {'x': '50-54', 'y': 2397},
    {'x': '55-59', 'y': 1696},
    {'x': '60-64', 'y': 1258},
    {'x': '65-69', 'y': 855},
    {'x': '70-74', 'y': 505},
    {'x': '75-79', 'y': 323},
    {'x': '80-84', 'y': 217},
    {'x': '85 Plus', 'y': 186}]},
  {'key': 'Total',
   'values': [{'x': 'Under 5', 'y': 4342},
    {'x': '5-9', 'y': 6434},
    {'x': '10-14', 'y': 6597},
    {'x': '15-19', 'y': 4778},
    {'x': '20-24', 'y': 2281},
    {'x': '25-29', 'y': 2483},
    {'x': '30-34', 'y': 3503},
    {'x': '35-39', 'y': 5725},
    {'x': '40-44', 'y': 6958},
    {'x': '45-49', 'y': 6776},
    {'x': '50-54', 'y': 4990},
    {'x': '55-59', 'y': 3398},
    {'x': '60-64', 'y': 2437},
    {'x': '65-69', 'y': 1680},
    {'x': '70-74', 'y': 979},
    {'x': '75-79', 'y': 610},
    {'x': '80-84', 'y': 358},
    {'x': '85 Plus', 'y': 285}],
   'color': '#000000'}],
 'population_by_gender': [{'key': 'Data',
   'values': [{'x': 'Male', 'y': 31764}, {'x': 'Female', 'y': 32850}]}],
 'population_by_race': [{'key': 'Data',
   'values': [{'x': 'White', 'y': 42940},
    {'x': 'Black Or African American', 'y': 5756},
    {'x': 'American Indian Or Alaskan Native', 'y': 124},
    {'x': 'Asian', 'y': 13111},
    {'x': 'Native Hawaiian & Other Pacific Islander', 'y': 20},
    {'x': 'Other Race', 'y': 1192},
    {'x': 'Two Or More Races', 'y': 1471}]}],
 'head_of_household_by_age': [{'key': 'Owner',
   'values': [{'x': '15-24', 'y': 98},
    {'x': '25-34', 'y': 1632},
    {'x': '35-44', 'y': 5566},
    {'x': '45-54', 'y': 5884},
    {'x': '55-64', 'y': 2887},
    {'x': '65-74', 'y': 1272},
    {'x': '75-84', 'y': 400},
    {'x': '85 Plus', 'y': 75}]},
  {'key': 'Renter',
   'values': [{'x': '15-24', 'y': 145},
    {'x': '25-34', 'y': 670},
    {'x': '35-44', 'y': 924},
    {'x': '45-54', 'y': 674},
    {'x': '55-64', 'y': 267},
    {'x': '65-74', 'y': 98},
    {'x': '75-84', 'y': 75},
    {'x': '85 Plus', 'y': 48}]},
  {'key': 'Total',
   'values': [{'x': '15-24', 'y': 243},
    {'x': '25-34', 'y': 2302},
    {'x': '35-44', 'y': 6490},
    {'x': '45-54', 'y': 6558},
    {'x': '55-64', 'y': 3154},
    {'x': '65-74', 'y': 1370},
    {'x': '75-84', 'y': 475},
    {'x': '85 Plus', 'y': 123}],
   'color': '#000000'}],
 'families_vs_singles': [{'key': 'Data',
   'values': [{'x': 'Husband Wife Family Households', 'y': 15081},
    {'x': 'Single Guardian', 'y': 2416},
    {'x': 'Singles', 'y': 2534},
    {'x': 'Singles With Roommate', 'y': 684}]}],
 'households_with_kids': [{'key': 'Data',
   'values': [{'x': 'Households Without Kids', 'y': 9610},
    {'x': 'Households With Kids', 'y': 11105}]}],
 'children_by_age': [{'key': 'Male',
   'values': [{'x': 0, 'y': 383},
    {'x': 1, 'y': 455},
    {'x': 2, 'y': 463},
    {'x': 3, 'y': 549},
    {'x': 4, 'y': 594},
    {'x': 5, 'y': 632},
    {'x': 6, 'y': 664},
    {'x': 7, 'y': 660},
    {'x': 8, 'y': 713},
    {'x': 9, 'y': 703},
    {'x': 10, 'y': 677},
    {'x': 11, 'y': 673},
    {'x': 12, 'y': 686},
    {'x': 13, 'y': 636},
    {'x': 14, 'y': 600},
    {'x': 15, 'y': 573},
    {'x': 16, 'y': 557},
    {'x': 17, 'y': 410},
    {'x': 18, 'y': 262},
    {'x': 19, 'y': 279}]},
  {'key': 'Female',
   'values': [{'x': 0, 'y': 392},
    {'x': 1, 'y': 425},
    {'x': 2, 'y': 461},
    {'x': 3, 'y': 517},
    {'x': 4, 'y': 552},
    {'x': 5, 'y': 604},
    {'x': 6, 'y': 659},
    {'x': 7, 'y': 625},
    {'x': 8, 'y': 731},
    {'x': 9, 'y': 649},
    {'x': 10, 'y': 741},
    {'x': 11, 'y': 675},
    {'x': 12, 'y': 602},
    {'x': 13, 'y': 555},
    {'x': 14, 'y': 638},
    {'x': 15, 'y': 577},
    {'x': 16, 'y': 575},
    {'x': 17, 'y': 371},
    {'x': 18, 'y': 215},
    {'x': 19, 'y': 190}]},
  {'key': 'Total',
   'values': [{'x': 0, 'y': 775},
    {'x': 1, 'y': 880},
    {'x': 2, 'y': 924},
    {'x': 3, 'y': 1066},
    {'x': 4, 'y': 1146},
    {'x': 5, 'y': 1236},
    {'x': 6, 'y': 1323},
    {'x': 7, 'y': 1285},
    {'x': 8, 'y': 1444},
    {'x': 9, 'y': 1352},
    {'x': 10, 'y': 1418},
    {'x': 11, 'y': 1348},
    {'x': 12, 'y': 1288},
    {'x': 13, 'y': 1191},
    {'x': 14, 'y': 1238},
    {'x': 15, 'y': 1150},
    {'x': 16, 'y': 1132},
    {'x': 17, 'y': 781},
    {'x': 18, 'y': 477},
    {'x': 19, 'y': 469}],
   'color': '#000000'}],
 'housing_type': [{'key': 'Data',
   'values': [{'x': 'In Occupied Housing Units', 'y': 64599},
    {'x': 'Correctional Facility For Adults', 'y': 0},
    {'x': 'Juvenile Facilities', 'y': 0},
    {'x': 'Nursing Facilities', 'y': 15},
    {'x': 'Other Institutional', 'y': 0},
    {'x': 'College Student Housing', 'y': 0},
    {'x': 'Military Quarters', 'y': 0},
    {'x': 'Other Noninstitutional', 'y': 0}]}],
 'year_housing_was_built': [{'key': 'Data',
   'values': [{'x': '1939 Or Earlier', 'y': 105},
    {'x': '1940s', 'y': 13},
    {'x': '1950s', 'y': 82},
    {'x': '1960s', 'y': 252},
    {'x': '1970s', 'y': 361},
    {'x': '1980s', 'y': 1624},
    {'x': '1990s', 'y': 9768},
    {'x': '2000s', 'y': 9598},
    {'x': '2010 Or Later', 'y': 100}]}],
 'housing_occupancy': [{'key': 'Data',
   'values': [{'x': 'Owned Households With A Mortgage', 'y': 16043},
    {'x': 'Owned Households Free & Clear', 'y': 1771},
    {'x': 'Renter Occupied Households', 'y': 2901},
    {'x': 'Households Vacant', 'y': 967}]}],
 'vancancy_reason': [{'key': 'Data',
   'values': [{'x': 'For Rent', 'y': 213},
    {'x': 'Rented & Unoccupied', 'y': 12},
    {'x': 'For Sale Only', 'y': 397},
    {'x': 'Sold & Unoccupied', 'y': 75},
    {'x': 'For Season Recreational Or Occasional Use', 'y': 67},
    {'x': 'For Migrant Workers', 'y': 0},
    {'x': 'Vacant For Other Reasons', 'y': 203}]}],
 'owner_occupied_home_values': [{'key': 'Data',
   'values': [{'x': '$1-$24,999', 'y': 171},
    {'x': '$25,000-$49,999', 'y': 108},
    {'x': '$50,000-$99,999', 'y': 201},
    {'x': '$100,000-$149,999', 'y': 1076},
    {'x': '$150,000-$199,999', 'y': 2623},
    {'x': '$200,000-$399,999', 'y': 10084},
    {'x': '$400,000-$749,999', 'y': 2858},
    {'x': '$750,000+', 'y': 720}]}],
 'rental_properties_by_number_of_rooms': [{'key': 'Data',
   'values': [{'x': 'Studio Apartment', 'y': 0},
    {'x': '1 Bedroom', 'y': 296},
    {'x': '2 Bedroom', 'y': 783},
    {'x': '3+ Bedroom', 'y': 1748}]}],
 'monthly_rent_including_utilities_studio_apt': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 0},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 0},
    {'x': '$750-$999', 'y': 0},
    {'x': '$1,000+', 'y': 0}]}],
 'monthly_rent_including_utilities_1_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 0},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 18},
    {'x': '$750-$999', 'y': 210},
    {'x': '$1,000+', 'y': 68}]}],
 'monthly_rent_including_utilities_2_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 0},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 0},
    {'x': '$750-$999', 'y': 204},
    {'x': '$1,000+', 'y': 579}]}],
 'monthly_rent_including_utilities_3plus_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 0},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 0},
    {'x': '$750-$999', 'y': 33},
    {'x': '$1,000+', 'y': 1653}]}],
 'employment_status': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 24016},
    {'x': 'Worked Part-time With Earnings', 'y': 10454},
    {'x': 'No Earnings', 'y': 13326}]}],
 'average_household_income_over_time': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 91876.8898},
    {'x': 2006, 'y': 109190.4762},
    {'x': 2007, 'y': 92140.4137},
    {'x': 2008, 'y': 90791.446},
    {'x': 2009, 'y': 88895.9219},
    {'x': 2010, 'y': 89831.2699},
    {'x': 2011, 'y': 92120.7028},
    {'x': 2012, 'y': 97744.867},
    {'x': 2013, 'y': 97587.079},
    {'x': 2014, 'y': 105603.8936},
    {'x': 2015, 'y': 102863.8729}]}],
 'household_income': [{'key': 'Data',
   'values': [{'x': '< $25,000', 'y': 1656},
    {'x': '$25,000-$44,999', 'y': 1981},
    {'x': '$45,000-$59,999', 'y': 1771},
    {'x': '$60,000-$99,999', 'y': 4937},
    {'x': '$100,000-$149,999', 'y': 4718},
    {'x': '$150,000-$199,999', 'y': 2735},
    {'x': '$200,000+', 'y': 2870}]}],
 'annual_individual_earnings': [{'key': 'Data',
   'values': [{'x': '< $10,000', 'y': 5041},
    {'x': '$10,000-$19,999', 'y': 3435},
    {'x': '$20,000-$29,999', 'y': 3173},
    {'x': '$30,000-$39,999', 'y': 3044},
    {'x': '$40,000-$49,999', 'y': 3006},
    {'x': '$50,000-$64,999', 'y': 3697},
    {'x': '$65,000-$74,999', 'y': 1752},
    {'x': '$75,000-$99,999', 'y': 3904},
    {'x': '$100,000+', 'y': 7418}]}],
 'sources_of_household_income____percent_of_households_receiving_income': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 86.5961},
    {'x': 'Business', 'y': 22.2693},
    {'x': 'Partnership', 'y': 13.2224},
    {'x': 'Unemployment', 'y': 2.118}]}],
 'sources_of_household_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 92265.6883},
    {'x': 'Business', 'y': 13676.6304},
    {'x': 'Partnership', 'y': 62728.833},
    {'x': 'Unemployment', 'y': 3414.2857}]}],
 'household_investment_income____percent_of_households_receiving_investment_income': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 34.0393},
    {'x': 'Ordinary Dividends', 'y': 27.1407},
    {'x': 'Qualified Dividends', 'y': 25.5976},
    {'x': 'Capital Gains', 'y': 25.0832}]}],
 'household_investment_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 1244.7111},
    {'x': 'Ordinary Dividends', 'y': 5239.2419},
    {'x': 'Qualified Dividends', 'y': 4270.6856},
    {'x': 'Capital Gains', 'y': 13976.1158}]}],
 'household_retirement_income____percent_of_households_receiving_retirement_incom': [{'key': 'Data',
   'values': [{'x': 'IRA Distributions', 'y': 8.6838},
    {'x': 'Pensions/annuities', 'y': 13.7065},
    {'x': 'Social Security', 'y': 8.6536}]}],
 'household_retirement_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'IRA Distributions', 'y': 21193.7282},
    {'x': 'Pensions/annuities', 'y': 24066.0044},
    {'x': 'Social Security', 'y': 16162.2378}]}],
 'source_of_earnings': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 24016},
    {'x': 'Worked Part-time With Earnings', 'y': 10454},
    {'x': 'No Earnings', 'y': 13326}]}],
 'means_of_transportation_to_work_for_workers_16_and_over': [{'key': 'Data',
   'values': [{'x': 'Car, Truck, Or Van', 'y': 26857},
    {'x': 'Public Transportation', 'y': 312},
    {'x': 'Taxicab', 'y': 0},
    {'x': 'Motorcycle', 'y': 17},
    {'x': 'Bicycle, Walked, Or Other Means', 'y': 406},
    {'x': 'Worked At Home', 'y': 2938}]}],
 'travel_time_to_work_in_minutes': [{'key': 'Data',
   'values': [{'x': '< 10', 'y': 1622},
    {'x': '10-19', 'y': 5440},
    {'x': '20-29', 'y': 5281},
    {'x': '30-39', 'y': 5007},
    {'x': '40-44', 'y': 2278},
    {'x': '45-59', 'y': 3811},
    {'x': '60-89', 'y': 3357},
    {'x': '90+', 'y': 796}]}],
 'educational_attainment_for_population_25_and_over': [{'key': 'Data',
   'values': [{'x': 'Less Than High School Diploma', 'y': 1910},
    {'x': 'High School Graduate', 'y': 13441},
    {'x': "Associate's Degree", 'y': 3028},
    {'x': "Bachelor's Degree", 'y': 15701},
    {'x': "Master's Degree", 'y': 5662},
    {'x': 'Professional School Degree', 'y': 1127},
    {'x': 'Doctorate Degree', 'y': 863}]}],
 'school_enrollment_age_3_to_17': [{'key': 'Data',
   'values': [{'x': 'Enrolled In Public School', 'y': 16812},
    {'x': 'Enrolled In Private School', 'y': 2849},
    {'x': 'Not Enrolled In School', 'y': 973}]}]}

In [33]:
# grab keys
zipcode.to_dict().keys()

dict_keys(['zipcode_type', 'major_city', 'post_office_city', 'common_city_list', 'county', 'state', 'lat', 'lng', 'timezone', 'radius_in_miles', 'area_code_list', 'population', 'population_density', 'land_area_in_sqmi', 'water_area_in_sqmi', 'housing_units', 'occupied_housing_units', 'median_home_value', 'median_household_income', 'bounds_west', 'bounds_east', 'bounds_north', 'bounds_south', 'zipcode', 'polygon', 'population_by_year', 'population_by_age', 'population_by_gender', 'population_by_race', 'head_of_household_by_age', 'families_vs_singles', 'households_with_kids', 'children_by_age', 'housing_type', 'year_housing_was_built', 'housing_occupancy', 'vancancy_reason', 'owner_occupied_home_values', 'rental_properties_by_number_of_rooms', 'monthly_rent_including_utilities_studio_apt', 'monthly_rent_including_utilities_1_b', 'monthly_rent_including_utilities_2_b', 'monthly_rent_including_utilities_3plus_b', 'employment_status', 'average_household_income_over_time', 'household_income', 'annual_individual_earnings', 'sources_of_household_income____percent_of_households_receiving_income', 'sources_of_household_income____average_income_per_household_by_income_source', 'household_investment_income____percent_of_households_receiving_investment_income', 'household_investment_income____average_income_per_household_by_income_source', 'household_retirement_income____percent_of_households_receiving_retirement_incom', 'household_retirement_income____average_income_per_household_by_income_source', 'source_of_earnings', 'means_of_transportation_to_work_for_workers_16_and_over', 'travel_time_to_work_in_minutes', 'educational_attainment_for_population_25_and_over', 'school_enrollment_age_3_to_17'])

#### just printing some keys to test calls 

```python
print(  zips['lat'], 
        zips['lng'], 
        zips['population'], 
        zips['housing_units'],
        zips['occupied_housing_units'], 
        zips['median_home_value'], 
        zips['zipcode'], 
        zips['median_household_income'], 
        zips['population']
     )
```

In [3]:
katy = '30024'
mason = '30009'
joey = '30114'
cesar = '30310'
zip_list = [katy,mason,joey,cesar]

#### loop to take in list of zips either string or integers and will return zip level information

```python
metrics = []
for i in zip_list:
    row = {}
    zipcode = search.by_zipcode(i)
    zip = zipcode.to_dict()
    row['lat'] = zip['lat']
    row['lng'] = zip['lng']
    row['population'] = zip['population']
    row['occupied_housing_units'] = zip['occupied_housing_units']
    row['median_home_value'] = zip['median_home_value']
    row['zipcode'] = zip['zipcode']
    row['median_household_income'] = zip['median_household_income']
    row['population'] = zip['population']
    metrics.append(row)
```

In [16]:
def create_zip_info(list_of_zips):

    metrics = []
    for i in list_of_zips:
        row = {}
        zipcode = search.by_zipcode(i)
        zip = zipcode.to_dict()
        row['lat'] = zip['lat']
        row['lng'] = zip['lng']
        row['population'] = zip['population']
        row['occupied_housing_units'] = zip['occupied_housing_units']
        row['median_home_value'] = zip['median_home_value']
        row['zipcode'] = zip['zipcode']
        row['median_household_income'] = zip['median_household_income']
        row['population'] = zip['population']
        metrics.append(row)
        
    return pd.DataFrame(metrics)

In [19]:
test = create_zip_info([30024,30310])
test

,lat,lng,median_home_value,median_household_income,occupied_housing_units,population,zipcode
0,34.07,-84.10,272400,99931,20715,64614,30024
1,33.73,-84.43,89300,22861,10697,26912,30310